
@import "../../global.scss";
.social{
    // position: absolute;
    position: fixed;
    left: 0;
    transition: all 1s ease;
    z-index: 111;
    .socialItem{
        display: flex;
        padding: 10px 10px;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 50px;
        transition: all 0.5s ease;

        i{
            font-size: 20px;
            margin-left: 10px;

            
        }
        span{
            transition: all 0.5s ease;
            font-size: 14px;
            display: none;

        }
        &:hover{
            border-top-right-radius: 20px;
            width: max-content;
            border-bottom-right-radius: 20px;
            span{
                display: block;
            }
        }
    }

    // ================
    .linkdin{
        background-color: #0A66C2;
    }
    .facebook{
        background-color: #1877F2;
    }
    .github{
        background-color: #171515;
    }
    .email{
        background-color: $maincolor;
    }
    
    .phone{
        background-color: rgb(255,255,255,0.4);
    }
    
}